*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    position: fixed;
    background-color: black;
   padding: 20px 20px;
}
nav ul li{
    list-style: none;
    margin-left: 20px;
    

}
nav ul li a{
    text-decoration: none;
    color: antiquewhite;
    
}
nav ul li{
    list-style: none;
    display: inline-block;
}
.fa-solid{
    padding-left: 10px;
}
.fa-solid:hover{
color: aliceblue;
}