* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
}
a{
    text-decoration: none;
    color: black;
}
body {
    background-color: whitesmoke;
}
main{
    position: relative;
    top:10rem;
}
.header{
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    box-shadow: 0px 1px 11px -5px rgba(0,0,0,0.75);
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.header-info,.header-logo{
    font-size: 2rem;
}
.container {
    padding: 2rem 7%;
}

img {
    width: 100%;
    object-fit: cover;
    height: 200px;
}
.input-area .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-area input{
    width: 35%;
    padding: 1.5rem ;
    border: none;
    box-shadow: 0px 1px 11px -5px rgba(0,0,0,0.75);
    outline: none;
}
.input-area select{
    padding: 1.5rem;
    background-color: white;
    border: none;
    box-shadow: 0px 1px 11px -5px rgba(0,0,0,0.75);
    outline: none;
}
.input-area select option{
    display: inline-flex;
    padding: 2rem;
    outline: none;
    margin: 1rem;
}
.countries .container {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(30rem, 1fr) );
    gap: 2rem;
}

.country {
    display: flex;
    flex-direction: column;
    background-color: white;
}
.country-info .countryName{
    font-size: 1.8rem;
    font-weight: bold;
}
.country-info{
    width: 100%;
}

.country-info div {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5rem 0;
}

.countryDetailes{
    position: relative;
    top: 10rem;
    width: 100%;
}
.countryDetailes .container{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.btn-back{
   display: inline-block;
   width: 14rem;
   height: 4rem;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 0px 1px 11px -5px rgba(0,0,0,0.75);
   font-size: 2rem;
}

.countryInfos{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 10rem;
}
.countryInfos .country-image{
    width: 50%;
    height: 60vh;
}
.countryInfos .country-image img{
    width: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
    height: 100%;
}
.countryInfos .country-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 50%;
    height: 60vh;
    padding: 1rem;
}

.country .country-image img{
 width: 100%;
 height: 20rem;
}
.country .country-info{
    padding: 1rem;
}
.country-details{
    display: flex;

    justify-content: space-between;
}
.country-details div{
    font-size: 1.5rem;
    font-weight: bold;
    /* flex-direction: column; */
}
.country-details .country-detail{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}
.country-details span{
    font-size: 1.5rem;
    font-weight: lighter;
}
.borders{
    display: flex;
    align-items: center;
}
.borders-btns{
    display: flex;
    align-items: center;
    gap: 2rem;
}
 .btn{
    padding:0.5rem 1rem;
    background-color: transparent;
    border: none;
    box-shadow: 0px 1px 11px -5px rgba(0,0,0,0.75);
}
.bordersDiv{
    display: flex;
    align-items: center;
}
.languages{
    display: flex;
    align-items: center;
}
.languages span{
    margin-left: 5px;
}
.errorContainer{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.errorContent{
    font-size: 30px;
}
/* Responsive Design */

@media (max-width:992px) {
    html{
        font-size: 55%;
    }
    .countryInfos{
        flex-direction: column;
    }
    .countryInfos .country-image{
        width: 100%;
    }
    .countryInfos .country-info{
        width: 100%;
    }
    .countryInfos .country-image, .countryInfos .country-info{
        height: 40vh;
        gap: 1rem;

    }
   
}
@media (max-width:786px) {
    .country-details{
        flex-direction: column;
    }
   
}
@media (max-width:529px) {
    html{
        font-size: 50%;
    }
}