.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 200px;
    background-color: darkgray;
    margin: 0 auto;
    text-align: center;
}
button{
    color: azure;
    padding: 10px 30px;
    background-color: blue;
    border-radius: 10px;
}
