*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    width: 100px;
    background-color: green;
}
.form{
    display: flex;
    align-items: center;
    padding-top: 30px;
    flex-direction: column;
    background-color: bisque;
    height: 100px;
}
.card-body{
    height: 300px;
}